
:root {

    --MAIN-TEXT-color: #323232; /* Color of text by default */
    --MAIN-TITLES-TEXT-color: #5e5e5e; /* Color of titles h2-h3-h4-h5 */
    --MAIN-LINK-color: rgb(27, 119, 215); /* Color of links */
    --MAIN-LINK-HOVER-color: rgb(27, 119, 215); /* Color of hovered links */
    --MAIN-ANCHOR-color: #1C90F3; /* color of anchors on titles */


    --MENU-HOME-LINK-color: #323232; /* Color of the home button text */
    --MENU-HOME-LINK-HOVER-color: #5e5e5e; /* Color of the hovered home button text */

    --MENU-HEADER-BG-color: #0C5A94; /* Background color of menu header */
    --MENU-HEADER-BORDER-color: #0C5A94; /*Color of menu header border */

    --MENU-SEARCH-BG-color: #167ad0; /* Search field background color (by default borders + icons) */
    --MENU-SEARCH-BOX-color: #33a1ff; /* Override search field border color */
    --MENU-SEARCH-BOX-ICONS-color: white; /* Override search field icons color */

    --MENU-SECTIONS-ACTIVE-BG-color: #20272b; /* Background color of the active section and its childs */
    --MENU-SECTIONS-BG-color: #252c31; /* Background color of other sections */
    --MENU-SECTIONS-LINK-color: #FFFFFF; /* Color of links in menu */
    --MENU-SECTIONS-LINK-HOVER-color: #e6e6e6; /* Color of links in menu, when hovered */
    --MENU-SECTION-ACTIVE-CATEGORY-color: #797676; /* Color of active category text */
    --MENU-SECTION-ACTIVE-CATEGORY-BG-color: #fff; /* Color of background for the active category (only) */

    --MENU-VISITED-color: #33a1ff; /* Color of 'page visited' icons in menu */
    --MENU-SECTION-HR-color: #20272b; /* Color of <hr> separator in menu */

    --LINK-text-on-grey-bg: #1D6FD8; /* Used in breadcrumb and footer */
    --ASQA-background-light-grey: #F6F6F6; /* Used in breadcrumb and footer */
}


/*
 * Tags
 */

body {
    color: var(--MAIN-TEXT-color) !important;
    position: relative;
}

textarea:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="url"]:focus,
input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
select[multiple=multiple]:focus {
    border-color: unset;
    box-shadow: none;
}

h1 {
    text-transform: unset;
}

h2, h3, h4, h5 {
    color: var(--MAIN-TITLES-TEXT-color) !important;
}

a {
    color: var(--MAIN-LINK-color);
}

.anchor {
    color: var(--MAIN-ANCHOR-color);
}

a:hover {
    color: var(--MAIN-LINK-HOVER-color);
}

#sidebar ul li.visited > a .read-icon {
    color: var(--MENU-VISITED-color);
}

#body a.highlight:after {
    display: block;
    content: "";
    height: 1px;
    width: 0;
    -webkit-transition: width 0.5s ease;
    -moz-transition: width 0.5s ease;
    transition: width 0.5s ease;
    background-color: var(--MAIN-LINK-HOVER-color);
}

#sidebar {
    background-color: var(--MENU-SECTIONS-BG-color);
}

#sidebar #header-wrapper {
    background: var(--MENU-HEADER-BG-color);
    color: var(--MENU-SEARCH-BOX-color);
    border-color: var(--MENU-HEADER-BORDER-color);
}

#sidebar .searchbox {
    border-color: var(--MENU-SEARCH-BOX-color);
    background: var(--MENU-SEARCH-BG-color);
}

#sidebar ul.topics > li.parent, #sidebar ul.topics > li.active {
    background: var(--MENU-SECTIONS-ACTIVE-BG-color);
}

#sidebar .searchbox * {
    color: var(--MENU-SEARCH-BOX-ICONS-color);
}

#sidebar a {
    color: var(--MENU-SECTIONS-LINK-color);
}

#sidebar a:hover {
    color: var(--MENU-SECTIONS-LINK-HOVER-color);
}

#sidebar ul li.active > a {
    background: var(--MENU-SECTION-ACTIVE-CATEGORY-BG-color);
    color: var(--MENU-SECTION-ACTIVE-CATEGORY-color) !important;
}

#sidebar hr {
    border-color: var(--MENU-SECTION-HR-color);
}

/*
 * BREADCRUMB
 */
#breadcrumbs a {
    color: var(--LINK-text-on-grey-bg);
}

/*
 * CONTENT
 */

blockquote p {
    color: #676767;
}

/*
 * FOOTER
 */
#asqa-footer {
    /*position: fixed;*/
    bottom: 0;
    width: 100%;
    margin-left: 300px;
    padding: 2rem 6rem;
    background-color: var(--ASQA-background-light-grey);
    border-top: dotted 1px lightskyblue ;
}

#asqa-footer ul {
    padding-inline-start: 0;
    margin: 0;
}

#asqa-footer li {
    list-style-type: none;
    margin: 0.5em 0;
}

#asqa-footer a {
    color: var(--LINK-text-on-grey-bg);
}

/*
 * Responsive (to place at the end, because upstream theme is structured this way :/ )
 */

@media only all and (max-width: 59.938em) {
    #asqa-footer {
        margin-left: 230px;
    }
}
@media only all and (max-width: 47.938em) {
    #asqa-footer {
        margin-left: 0;
    }
}
